//page styling here

// GLOBAL STYLES
.panel {
  .mol-col {
    &-two {
      width: 48.5%;
      float: left;
      margin-left: 3%;
      padding-bottom: 32px;

      @media only screen and (max-width: 540px) {
        width: 100% !important;
        margin-left: 0 !important;
        margin-bottom: 0;
      }

      &:first-child { margin-left: 0; }

      img { width: 100%; }

      h2 {
        text-align: left;
        margin-top: 10px;
      }

      p {
        padding-bottom: 60px;

        @media only screen and (max-width: 540px) { padding-bottom: 0; }
      }

      a {
        color: #00338d;

        &.atom-btn-sml {
          position: absolute;
          bottom: 20px;
          color: #fff;

          @media only screen and (max-width: 540px) {
            position: relative !important;
            margin-top: 15px;
          }
        }
      }
    }

    &-three {
      width: 31.3%;
      margin-left: 3%;
      float: left;
      padding-bottom: 32px;

      @media only screen and (max-width: 700px) {
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;
      }

      &:first-child { margin-left: 0 !important; }

      img { width: 100%; }

      iframe {
        width: 100%;
        height: 178px;

        @media screen {
          @media (min-width: 352px) { height: 198px; }
          @media (min-width: 384px) { height: 218px; }
          @media (min-width: 480px) { height: 277px; }
          @media (min-width: 540px) { height: 314px; }
          @media (min-width: 600px) { height: 351px; }
          @media (min-width: 640px) { height: 376px; }
          @media (min-width: 701px) { height: 129px; }
          @media (min-width: 768px) { height: 142px; }
          @media (min-width: 800px) { height: 148px; }
          @media (min-width: 854px) { height: 159px; }
          @media (min-width: 1024px) { height: 185px; }
        }
      }
    }

    &-2,
    &-3,
    &-three,
    &-two {
      p { padding-bottom: 0; }
    }
  }

  .callouts {
    h2 {
      color: #333;
      margin-bottom: 16px;
      font-weight: 700;
      font-size: 18px;
      text-align: left;
      margin-top: 32px;

      > span{
        color: #00338d;
        font-weight: 100;
        margin-top: 8px;
        display: block;
      }
    }

    &__img-hdr-txt {
      padding-bottom: 16px;

      > div:last-of-type {

        @media screen {
          @media (max-width: 700px) { margin-bottom: 0; }
        }
      }
    }
  }
}

section {
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6),
  &:nth-child(7),
  &:nth-child(8) {

    > div { border-bottom: 1px solid #ccc; }
  }
}

.copy { text-align: center; }
// END GLOBAL STYLES



// SUB NAV
.sub-nav {
  padding-top: 17px;
  padding-bottom: 17px;
  border-bottom: 1px solid #ccc;

  &__list {
    li {
      padding: 15px;
      border-bottom: 1px solid #ccc;

      @media screen and (min-width: 769px) {
        display: inline-block;
        margin-right: 34px;
        border-bottom: 0;
        padding: 0;
      }

      &.active { font-weight: bold; }

      &:first-of-type {

        @media screen and (max-width: 768px) { padding-top: 0; }
      }

      &:last-of-type {
        margin-right: 0;
        border-bottom: 0;

        @media screen and (max-width: 768px) { padding-bottom: 0; }
      }

      a {
        color: #333;
        text-decoration: none;
        width: 100%;
        display: inline-block;

        &:hover { cursor: pointer; }
      }
    }
  }
}
// END SUB NAV



// LEAD CONTENT
.lead-content {
  padding-top: 58px;

  h1 { margin-bottom: 28px; }

  p {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 28px;
    max-width: 600px;
  }

  .vid-holder {
    margin-top: 60px;
    padding-bottom: 48px;
    border-bottom: 1px solid #ccc;
  }
}
// END LEAD CONTENT



.youtube {

  &.vidrow1{
    &cell1 {}
    &cell2 {}
    &cell3 {}
  }

  &.vidrow2{
    &cell1 {}
    &cell2 {}
    &cell3 {}
  }

  img { width: 100%; }
}

.ytframe{
  &--main {
    width: 100%;
    height: 163px;

    @media screen {
      @media (min-width: 352px) { height: 181px !important; }
      @media (min-width: 384px) { height: 199px !important; }
      @media (min-width: 480px) { height: 253px !important; }
      @media (min-width: 600px) { height: 320px !important; }
      @media (min-width: 640px) { height: 343px !important; }
      @media (min-width: 768px) { height: 415px !important; }
      @media (min-width: 800px) { height: 433px !important; }
      @media (min-width: 854px) { height: 463px !important; }
      @media (min-width: 960px) { height: 523px !important; }
      @media (min-width: 1024px) { height: 540px !important; }
    }
  }
}



section {
  &:nth-child(9) div.callouts__img-hdr-txt > div:nth-child(2) {

    @media screen {
      @media (max-width: 700px) { padding-bottom: 0; }
    }
  }
}

// PRE FOOTER
.pre-foot {
  background: #f2eded;
  position: relative;

  h1 {

    @media (max-width: 767px) { margin-bottom: 16px; }
    @media (min-width: 768px) {
      margin-bottom: 0;
      text-align: left;
    }
  }

  .container {
    padding-left: 0;
    padding-right: 0;

    @media screen {
      @media (min-width: 768px) { max-width: 960px; }
    }

    > div {

      .mid {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
      }
    }



    > div.col-sm-8 {
      margin-bottom: 24px;

      @media screen {
        @media (min-width: 768px) {
          padding-left: 0;
          margin-bottom: 0;
        }
      }

      span {

        @media screen {
          @media (min-width: 480px) { display: block;}
        }
      }
    }

    > div.col-sm-4 {
      text-align: center;

      @media screen {
        @media (min-width: 768px) {
          text-align: right;
          padding-top: 35px;
          padding-right: 12px;
        }

        @media (min-width: 992px) { padding-top: 16px; }
      }
    }
  }
}
// END PRE FOOTER
