<section class="copy lead-content">
  <h1 class="atom-txt-blue">CAA Worst Roads 2018.</h1>

  <p>Celebrating 15 years, CAA&rsquo;s annual Worst Roads campaign has influenced change, resulting in repaving and repair work done to many of the roads that have appeared on Ontario&rsquo;s Worst Roads list. And there&rsquo;s more to&nbsp;come.</p>

  <p>Learn what other road users, community leaders and government officials have to say about the impact the campaign has had on improving Ontario&rsquo;s roads in their&nbsp;communities.</p>

  <a href="https://www.caaworstroads.com/?utm_medium=caasco-worst-roads-section&utm_source=15-voices-page&utm_campaign=2018-worst-road" class="atom-btn-lrg hover"> <span>Vote Now</span> </a>

  <div class="wrapper vid-holder">
    <div class="youtube main-vid">
      <img src="https://www.caasco.com/~/media/community/worst-roads/img/15-voices/main-vid" alt="For 15 years, the CAA Worst Roads Campaign Has Influenced Change">
    </div>
  </div>
</section>



<section>
  <div class="wrapper">
    <div class="panel">
      <div class="mol-row callouts callouts__img-hdr-txt">

        <div class="mol-col-three">
          <img alt="The Hon. Eleanor McMahon &ndash; MPP,&nbsp;Burlington" src="https://www.caasco.com/~/media/community/worst-roads/img/15-voices/Eleanor-McMahon">
          <h2 class="atom-txt-blue">
            The Hon. Eleanor McMahon &ndash; MPP,&nbsp;Burlington<br />
            <span>Elected as MPP in 2014, she is a long-time advocate for road&nbsp;safety.</span>
          </h2>
          <p> CAA has been a leader when it comes to strong transportation and road safety policies. The CAA Worst Roads campaign is a true reflection of their commitment in engaging with the public, and working with the government to achieve positive change.
            As an advocate for road safety, it is reassuring to see an organization passionate about making the roads safer for all Ontarians to enjoy. Our government is pleased to have CAA as one of our partners when it comes to road&nbsp;safety. </p>
        </div>

        <div class="mol-col-three">
          <div class="youtube vidrow2cell2">
            <img alt="George Mitges" src="https://www.caasco.com/~/media/community/worst-roads/img/15-voices/George-Mitges.jpg">
          </div>
          <h2 class="atom-txt-blue">
            George Mitges<br />
            <span>CAA Niagara Member and Motorist.</span>
          </h2>
          <p> I believe it is the responsibility of the residents and the citizens of the province to identify infrastructure that is in need of repair, and to let politicians know, that it&rsquo;s important to us that our roads be&nbsp;fixed. </p>
        </div>

        <div class="mol-col-three">
          <div class="youtube vidrow1cell3">
            <img alt="Jamie Stuckless &ndash; Executive Director, Share the Road" src="https://www.caasco.com/~/media/community/worst-roads/img/15-voices/Jamie-Stuckless.jpg">
          </div>
          <h2 class="atom-txt-blue">
            Jamie Stuckless &ndash; Executive Director, Share the Road<br />
            <span>A resident of Hamilton, she joined Share The Road in&nbsp;2013.</span>
          </h2>
          <p> A pothole on a road can be dangerous for someone on a bike and on a narrow wheel. When people go to vote in the CAA Worst Roads campaign, they should think of roads as whole – not just as a motorist but also as a pedestrian and&nbsp;cyclist.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>



<section>
  <div class="wrapper">
    <div class="panel">
      <div class="mol-row callouts callouts__img-hdr-txt">

        <div class="mol-col-three">
          <div class="youtube vidrow1cell1">
            <img alt="Gilles Bisson, MPP, Timmins &ndash; James&nbsp;Bay" src="https://www.caasco.com/~/media/community/worst-roads/img/15-voices/Gilles-Bisson.jpg">
          </div>
          <h2 class="atom-txt-blue">
            Gilles Bisson, MPP, Timmins &ndash; James&nbsp;Bay<br />
            <span>First elected in 1990, he is the current NDP House Leader, and has has previously served as the party&rsquo;s Transportation&nbsp;Critic.</span>
          </h2>
          <p> I think a campaign like CAA Worst Roads is going to affect change.  It helps municipalities and MPPs highlights the roads in most need of repair. It allows us to make the argument of why we need funding in order to fix our roads. So, in the end it has a great&nbsp;effect.  </p>
        </div>

        <div class="mol-col-three">
          <div class="youtube vidrow2cell1">
            <img alt="Jessica Santos" src="https://www.caasco.com/~/media/community/worst-roads/img/15-voices/Jessica-Santos.jpg">
          </div>
          <h2 class="atom-txt-blue">
              Jessica Santos<br />
              <span>Living and working in downtown Toronto, transit is Jessica&rsquo;s main source of&nbsp;transportation.</span>
            </h2>
          <p> Making sure that roads are safe and in good condition is important for pedestrians and transit users like me. When I am crossing the road, I am already so aware of oncoming traffic, that I am not looking down to check if the next step I take
            is going to be on solid&nbsp;ground. </p>
        </div>

        <div class="mol-col-three">
          <div class="youtube vidrow1cell2">
            <img alt="Richard Cazeau, Car Enthusiast" src="https://www.caasco.com/~/media/community/worst-roads/img/15-voices/Richard-Cazeau.jpg">
          </div>
          <h2 class="atom-txt-blue">
              Richard Cazeau, Car Enthusiast<br />
              <span>Lives in north Toronto.</span>
            </h2>
          <p> Driving is about lifestyle and with that, work life balance. If we are constantly having to repair our cars because of the damage sustained while driving, that is going to affect our finances. CAA Worst Roads gives you a chance to have your
            voice heard and tell politicians, what roads need to be fixed and&nbsp;why. </p>
        </div>

      </div>
    </div>
  </div>
</section>



<section>
  <div class="wrapper">
    <div class="panel">
      <div class="mol-row callouts callouts__img-hdr-txt">

        <div class="mol-col-two">
          <img alt="Mayor Steve Black, Mayor of&nbsp;Timmins" src="https://www.caasco.com/~/media/community/worst-roads/img/15-voices/Steve-Black.jpg">
          <h2 class="atom-txt-blue">
            Mayor Steve Black, Mayor of&nbsp;Timmins<br />
            <span>Elected as Mayor in 2014, he previously served as a City Councillor in&nbsp; mins.</span>
          </h2>
          <p> The campaign was part of our lobbying strategy. We rallied our residents to take part in the CAA Worst Roads campaign, and vote for a highway and try to get some attention around that and the Connecting Links&nbsp;program. </p>
        </div>

        <div class="mol-col-two">
          <img alt="Sukhbir Rai, CAA Tow Truck Operator" src="https://www.caasco.com/~/media/community/worst-roads/img/15-voices/Sukhbir-Rai.jpg">
          <h2 class="atom-txt-blue">
            Sukhbir Rai, CAA Tow Truck Operator<br />
            <span>Sukhbir has been involved in the towing industry for 29&nbsp;years.</span>
          </h2>
          <p> As a tow truck operator, the condition of roads will affect my ETA. If they call for help, I want to get to them quickly and safely. In some cases, that&rsquo;s not possible if the road is filled with potholes or there is a traffic&nbsp;jam.
            </p>
        </div>

      </div>
    </div>
  </div>
</section>



<section>
  <div class="wrapper">
    <div class="panel">
      <div class="mol-row callouts">

        <div class="mol-col-three">
          <div class="youtube vidrow2cell3">
            <img alt="Terry Gitzel &ndash; Platoon Chief, Kitchener Fire&nbsp;Department" src="https://www.caasco.com/~/media/community/worst-roads/img/15-voices/Terry-Gitzel.jpg">
          </div>
          <h2 class="atom-txt-blue">
            Terry Gitzel &ndash; Platoon Chief, Kitchener Fire&nbsp;Department<br />
          <span>He has served as a firefighter for 25 years.</span>
        </h2>
          <p> Rough roads extend our drives, as we are going to and from incidents, so we are always planning our route. Road safety is very important for us as firefighters, especially since we are often first on the&nbsp;scene. </p>
        </div>

        <div class="mol-col-three">
          <img alt="Katie Ungard, Project Manager &ndash; Pollution&nbsp;Probe" src="https://www.caasco.com/~/media/community/worst-roads/img/15-voices/Katie-Ungard.jpg">
          <h2 class="atom-txt-blue">
          Katie Ungard, Project Manager &ndash; Pollution&nbsp;Probe<br />
          <span>Residing in Toronto, Katie has worked at Pollution Probe for four&nbsp;years.</span>
        </h2>
          <p> We think CAA Worst Roads can affect change, by combining public participation and engagement with politicians and government officials. Bad roads aren&rsquo;t just about inconvenience, they are also about our health, our safety and they are
            about the&nbsp;environment. </p>
        </div>

        <div class="mol-col-three">
          <img alt="Doug Switzer, President, Ontario Motor Coach&nbsp;Association" src="https://www.caasco.com/~/media/community/worst-roads/img/15-voices/Doug-Switzer.jpg">
          <h2 class="atom-txt-blue">
          Doug Switzer, President, Ontario Motor Coach&nbsp;Association<br />
          <span>Lives in Burlington.</span>
        </h2>
          <p> CAA Worst Roads is the kind of input that helps spur governments to focus on priorities. I think this kind of input is truly grass roots democracy at its best, where the citizens of the province are telling politicians &ldquo;you can make this
            road a little bit better and it would make all of our lives a little bit better if you fixed it for&nbsp;us&rdquo;. </p>
        </div>

      </div>
    </div>
  </div>
</section>



<section>
  <div class="wrapper">
    <div class="panel">
      <div class="mol-row callouts callouts__img-hdr-txt">

        <div class="mol-col-two">
          <img alt="Joseph David Lalonde, Accessibility Advocate" src="https://www.caasco.com/~/media/community/worst-roads/img/15-voices/David-Lalonde.jpg">
          <h2 class="atom-txt-blue">
          Joseph David Lalonde, Accessibility Advocate<br />
          <span>A resident of Kitchener, he is a volunteer at the Kitchener YMCA and is a member of&nbsp;OutSpoken.</span>
        </h2>
          <p> When I go out, I don&rsquo;t feel safe. I have to worry about potholes on the roads, bumps on the sidewalk. If I need to go anywhere, I find myself considering &lsquo;What if I hit or drive directly over a&nbsp;pothole?&rsquo;. </p>

          <p> I&rsquo;m worried that if I hit it dead on I might lose my tire, lose my concentration, and get hurt. I have the right to feel safe in my&nbsp;community. </p>
        </div>

        <div class="mol-col-two">
          <img alt="Tim Hudak &ndash; CEO, Ontario Real Estate&nbsp;Association" src="https://www.caasco.com/~/media/community/worst-roads/img/15-voices/Tim-Hudak.jpg">
          <h2 class="atom-txt-blue">
          Tim Hudak &ndash; CEO, Ontario Real Estate&nbsp;Association<br />
          <span>Hudak represented Niagara area residents for 21 years as an MPP at Queen&rsquo;s&nbsp;Park.</span>
        </h2>
          <p> Good roads and highways are essential to improving the quality of lives of Ontario families. People want to spend less time stuck in traffic and more time enjoying the company of loved ones in the family home. Ontario Realtors strongly support
            CAA&rsquo;s Worst Roads campaign as an effective way for Ontarians to have their voice heard when it comes to the building better communities and safer travel&nbsp;home. </p>
        </div>

      </div>
    </div>
  </div>
</section>



<section>
  <div class="wrapper">
    <div class="panel">
      <div class="mol-row callouts callouts__img-hdr-txt">

        <div class="mol-col-two">
          <img alt="Garth Lewis &ndash; Mechanic, Stellar&nbsp;Automotive" src="https://www.caasco.com/~/media/community/worst-roads/img/15-voices/Garth-Lewis.jpg">
          <h2 class="atom-txt-blue">
            Garth Lewis &ndash; Mechanic, Stellar&nbsp;Automotive<br />
            <span>A mechanic for 19 years, Garth lives in North&nbsp;York.</span>
          </h2>
          <p> As a mechanic, I see the damage a pothole can do to a car. It can affect your wheel alignment, mufflers, rims, and tires to name just a few. Some of the repairs can cost thousands of&nbsp;dollars. </p>
        </div>

        <div class="mol-col-two">
          <img alt="Raymond Chan &ndash; Government Relations Specialist,&nbsp;CAA" src="https://www.caasco.com/~/media/community/worst-roads/img/15-voices/Raymond-Chan.jpg">
          <h2 class="atom-txt-blue">
            Raymond Chan &ndash; Government Relations Specialist,&nbsp;CAA<br />
            <span>Spokesperson for CAA&rsquo;s Worst Roads Campaign,&nbsp;CAA.</span>
          </h2>
          <p> Investing in infrastructure improvements, including the proper maintenance of roads and bridges is important to the vitality of local communities. For over 15 years, the CAA Worst Roads campaign has advocated and been successful in delivering
            change. Whether you&rsquo;re a motorist, cyclist, pedestrian or transit user, the campaign serves as a platform for all Ontarians to share their concerns directly with&nbsp;government. </p>
        </div>

      </div>
    </div>
  </div>
</section>



<section class="highlite pre-foot">
  <div class="panel wrapper">
    <div class="wrapper">

      <div class="mid container">
        <div class="col-sm-8">
          <h1 class="atom-txt-blue">Have your voice heard.<span>Vote now for Ontario&rsquo;s Worst&nbsp;Roads.</span></h1>
        </div>

        <div class="col-sm-4">
          <a href="https://www.caaworstroads.com/?utm_medium=caasco-worst-roads-section&utm_source=15-voices-page&utm_campaign=2018-worst-road" class="atom-btn-lrg hover"> <span>Vote Now</span> </a>
        </div>
      </div>
    </div>
  </div>
</section>
